.svgImg {
  display: inline-block;
}
span.shortlinkErr {
  font-size: small;
  color: red;
  font-weight: bold;
  float: left;
}
.CodeMirror-fullscreen {
  z-index: 1100; //this way, we're higher than the leaflet z-index used in YASR (1000)
}
.CodeMirror-hint {
  max-width: 30em;
}
.notification {
  color: #999;
  background-color: #f7f7f7;
  position: absolute;
  padding: 0px 5px;
  right: 0px;
  bottom: 0px;
  font-size: 90%;
}

.parseErrorIcon {
  width: 13px;
  height: 13px;
  margin-top: 2px;
  margin-left: 2px;
  svg {
    g {
      fill: red;
    }
  }
}

.yasqe_tooltip {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #fff;
  padding: 5px 15px;
  width: 220px;
  white-space: pre-wrap;
  white-space: normal;
  margin-top:5px;
}
.notificationLoader {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
